<!DOCTYPE html>
<html>
<head>
  <title>Minimal Example</title>
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/@angular/platform-browser/fesm2015/platform-browser.min.js"></script>
  <script src="node_modules/@angular/core/fesm2015/core.min.js"></script>
  <script src="minimal-example/main.js"></script> </head>
<body>
  <app-root></app-root>
</body>
</html>