<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTION</title>
    <link rel="stylesheet" href="area-list.component.css">
</head>
<body>

    <nav class="navbar">
        <h1 class="navbar-brand">GESTION</h1>
    </nav>




    <div class="container">
        <div class="container">
            <div class="button-container">
                <button>AGREGAR</button>
                <button>BORRAR</button>
                <button>MODIFICAR</button>
            </div>

        </div>
        <div class="box">
            <div class="box-title">
                <h1>AREAS</h1>
                <button class="button-square">+</button>
            </div>
            <div class="box-content">
              <div>
                <ul>
                  <li [routerLink]="['/area', area.id]" *ngFor="let area of areas">
                    <a >{{ area.name }}</a>
                  </li>
                </ul>
              </div>

            </div>
        </div>
    </div>

</body>
</html>



