<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTION</title>
    <link rel="stylesheet" href="area-detail.component.css">
</head>
<body>

    <nav class="navbar">
        <h1 class="navbar-brand">GESTION</h1>
    </nav>




    <div class="container">
        <div *ngIf="area" class="box">
            <div class="box-title">
                <h1>{{ area.name }}</h1>
                <button class="button-square" [routerLink]="['/add-jefe', area.id]">+</button>
            </div>
            <div class="box-content">
             
              <ul>
                <li [routerLink]="['/jefe', jefe.id]" *ngFor="let jefe of area.jefes">
                  <a>{{ jefe.name }}</a>
                </li>
              </ul>

            </div>
        </div>
    </div>

</body>
</html>

