<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTION</title>
    <link rel="stylesheet" href="jefe.component.css">
</head>
<body>


    <nav class="navbar">
        <h1 class="navbar-brand">GESTION</h1>
    </nav>




    <div class="container">
        <div class="container">
            <div class="button-container">
                <button>AGREGAR</button>
                <button>BORRAR</button>
                <button>MODIFICAR</button>
            </div>

        </div>
        <div class="box">
            <h2 class="box-title">PERSONAL</h2>
            <div class="box-content">
                <ul>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                    <a routerLink="/personal"><li>Personal</li></a>
                   
                   
                </ul>
            </div>
        </div>
    </div>


    



</body>
</html>
