:root {
    --standard:     hsl(254, 20%, 20%);
    --background:   hsl(254, 20%, 13%);
    --light:         hsl(254, 0%, 45%);
    --dark:          hsl(255, 10%, 7%);
    --text:          hsl(48, 20%, 90%);
    --normal:       hsl(48, 100%, 50%);
    --normal-light:  hsl(48, 90%, 70%);
}

html {
    color: white;
}

body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    left: 0;
}

.navbar {
    background-color: var(--dark);
    padding: 10px;
    margin-bottom: 5%;
    height: 7rem;
    border-bottom: 2px solid var(--normal);
    display: flex;
    align-items: center;
}

.navbar-brand {
    margin: 0;
    color: var(--normal);
    font-size: 40px;
    margin-left: 20px;
    cursor: default;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



div {
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button-container {
    background-color: none;
    height: 50px;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
}

button{
    cursor: pointer;
    height: 35px;
    width:130px;
    background-color: var(--background);
    border-radius: 7px;
    border: 3px solid var(--normal);
    margin-right:10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--normal);
}

button:hover{
    background-color: var(--normal);
    color: var(--background);
}

button:active{
    background-color: var(--normal-light);
    color: var(--background);
}

.box {
    width: 75%;
    height: 400px;
    border: 1px solid var(--light);
    border-radius: 7px;
    background-color: none;
}

.box-title {
    cursor: default;
    position: sticky;
    color: var(--text);
    background-color: var(--standard);
    
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    padding-left: 10px;
    height: 50px;
    border-bottom: 1px solid var(--light);

    display: flex;
    justify-content: space-between;

}

.box-content {
    height: calc(400px - 54px); /* Subtracting the height of the title */
    overflow-y: auto;
}

ul {
    list-style-type: none;
}

li {
    padding: 8px;
    padding-left: 10px;
    border-bottom: 1px solid var(--light);
}

li:hover {
    background-color: var(--standard);
    color: var(--normal);
}

li:active {
    background-color: var(--standard);
}

a {
    text-decoration: none;
    color: var(--text);
}

a:last-child {
    border-bottom: none;
}

.button-square{
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 10px;
    background-color: var(--standard);
    
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--standard);
    border-radius: 10px;
    width: 5px;
  }

::-webkit-scrollbar-track {
    background-color: none;
    position:absolute;
    
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--text);
}
