<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTION</title>
    <link rel="stylesheet" href="app.component.css">

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/@angular/core/fesm2022/core.mjs" type="module"></script>
    <script src="node_modules/@angular/router/fesm2022/router.mjs" type="module"></script>
    <script src="node_modules/@angular/platform-browser/fesm2022/platform-browser.mjs" type="module"></script>
    <script src="node_modules/@angular/platform-browser-dynamic/fesm2022/platform-browser-dynamic.mjs" type="module"></script>
    <script src="src/main.ts" type="module"></script>
</head>
<body>
  <app-root></app-root>

</body>
</html>
